<!-- index.html -->
{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2>SARTopo til FAKS konverterer</h2>
        </div>
        <div class="card-body">
            <!-- Form -->
            <form action="/process" method="post" enctype="multipart/form-data">
                <!-- File Input -->
                <div class="mb-3">
                    <label for="geojson_file" class="form-label">Last opp SARTopo GeoJSON fil:</label>
                    <input type="file" name="geojson_file" id="geojson_file" class="form-control" required>
                </div>
                <!-- Submit Buttons -->
                <div class="d-flex justify-content-end">
                    <!-- Button for 'Select' -->
                    <button type="submit" name="action" value="select" class="btn btn-primary mx-2">Select</button>
                    <!-- Button for 'Convert' -->
                    <button type="submit" name="action" value="convert" class="btn btn-success">Convert</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
