<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAKSpy</title>
</head>
<body>
<h1>SARTopo to FAKS Import Converter</h1>
<h2>Process selected features</h2>
<form action="/select" method="post" enctype="multipart/form-data">
    <label for="select">GeoJSON file:</label>
    <input type="file" name="geojson_file" id="select" required>
    <button type="submit">Select</button>
</form>
<h2>Process all features</h2>
<form action="/process" method="post" enctype="multipart/form-data">
    <label for="process">GeoJSON file:</label>
    <input type="file" name="geojson_file" id="process" required>
    <button type="submit">Convert</button>
</form>
</body>
</html>